.jumbotron {
    text-align: center;
    padding: 2rem 2rem;
    background-color: #f4f4f4;
    margin: 2rem 0;
}
.jumbotron h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
}
.jumbotron p {
    font-size: 1rem;
    color: #666;
}
.icon{
    text-align: center;
    margin-left: 7rem;
    color: #4682b4;
}